/* stylesheet navigation:
-- You may use the following shortcuts
-- to quickly navigate through this stylesheet.
-- Click ctrl/cmd + F and copy-paste needed shortcut
-- or just select it and run the command
*/

/* shortcuts: */

/* fonts */
/* variables */
/* global styles */
/* buttons */
/* main-header styles */
/* breadcrumbs styles */
/* categories styles */
/* slider styles */
/* popular-products styles */
/* product styles */
/* services styles */
/* company styles */
/* contacts styles */
/* main-footer styles */
/* modals styles */
/* catalog styles */
/* filters styles */
/* sort styles */
/* products styles */
/* about styles */

/* fonts */

@font-face {
  src:
    url("../fonts/cuprum.woff") format("woff"),
    url("../fonts/cuprum.woff2") format("woff2");
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/cuprumitalic.woff") format("woff"),
    url("../fonts/cuprumitalic.woff2") format("woff2");
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/cuprumbold.woff") format("woff"),
    url("../fonts/cuprumbold.woff2") format("woff2");
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/cuprumbolditalic.woff") format("woff"),
    url("../fonts/cuprumbolditalic.woff2") format("woff2");
  font-family: "Cuprum";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsans.woff2") format("woff2");
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/ptsansbold.woff") format("woff"),
    url("../fonts/ptsansbold.woff2") format("woff2");
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* variables */

:root {
  /* colors */
  --color-white: #fff;
  --color-black: #000;
  --color-basic-green: #63a63e;
  --color-basic-green-darker: #518534;
  --color-basic-green-extra-dark: #367315;

  --color-basic-red: #ee3643;
  --color-basic-red-darker: #ca2c37;
  --color-basic-red-extra-dark: #ba2732;

  --color-basic-blue: #3d546f;
  --color-basic-blue-darker: #32425c;
  --color-basic-blue-dark: #293449;
  --color-basic-blue-extra-dark: #1d2739;

  --color-basic-gray: #c5c5c5;
  --color-basic-gray-darker: #a9a9a9;
  --color-basic-lightgray: #f3f7f8;
  --color-basic-lightgray-lighter: #f1f5f7;

  --color-special-yellow: #ffbf47;
  --color-special-lightyellow: #ffd180;
  --color-special-bright-yellow: #ffc047;

  --color-special-blue: #3bbce3;
  --color-special-lilac: #dc91d8;
  --color-special-lightgreen: #8ed78f;

  --color-success: #5fbb2d;
  --color-warning: #ffbf47;
  --color-error: #ba2732;

  --color-border-gray: #eaeaea;
  --color-border-gray-darker: #e5e5e5;
  --color-social-bg: #212a3a;
  --color-dark: #161d29;

  --color-section-header-bg: #f9f5f0;
  --color-section-topline-bg: #f7f3ec;
  --color-catalog-header-bg: #f2f6f8;
  --color-modal-button-bg: #f4f4f4;

  --color-text-primary: var(--color-black);
  --color-text-secondary: var(--color-white);
  --color-text-dark: var(--color-basic-blue-darker);
  --color-text-light: var(--color-basic-lightgray-lighter);
  --color-text-accent: var(--color-basic-red);
  --color-text-accent-secondary: var(--color-special-lightyellow);

  /* rgba colors */
  --color-shadow-primary: rgba(0, 0, 0, 0.15);
  --color-half-opacity: rgba(255, 255, 255, 0.5);

  /* fonts */

  --font-primary: "Cuprum", "Arial", sans-serif;
  --font-secondary: "PT Sans", "Trebuchet MS", sans-serif;
}

/* global styles */

.page,
.page-body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: 1200px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-text-primary);
  background-color: var(--color-white);
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

input {
  font: inherit;
}

.container {
  margin: 0 auto;
  max-width: 940px;
}

.logo {
  --color-box-shadow: rgba(0, 0, 0, 0.24);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 47px;
  box-shadow: inset 0 -5px 0 var(--color-box-shadow);
  background-color: var(--color-basic-red);
}

.logo__image {
  margin-top: -5px;
}

.logo:active {
  background-color: var(--color-basic-red-extra-dark);
}

.marker-new {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--color-text-secondary);
  background-color: var(--color-basic-red);
}

.section-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 25px 14px 26px 28px;
  background-color: var(--color-section-header-bg);
}

.section-title {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--color-text-primary);
}

.section-title--blue {
  color: var(--color-text-dark);
}

.section-desc {
  margin: 0;
  font-family: var(--font-secondary);
  font-size: 13px;
  line-height: 24px;
}

.section-topline {
  border-radius: 2px;
  padding: 10px 14px 10px 18px;
  font-family: var(--font-secondary);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--color-section-topline-bg);
}

/* buttons */

.btn {
  vertical-align: middle;
  border: none;
  padding: 0;
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.btn--primary {
  color: var(--color-text-secondary);
  background-color: var(--color-basic-red);
}

.btn--primary:hover {
  background-color: var(--color-basic-red-darker);
}

.btn--primary:active {
  background-color: var(--color-basic-red-extra-dark);
}

.btn--category {
  --color-bg: rgba(255, 255, 255, 0.3);
  --height: 38px;

  display: inline-block;
  min-width: 135px;
  min-height: var(--height);
  line-height: var(--height);
  color: var(--color-text-secondary);
  background-color: var(--color-bg);
}

.btn--category:hover {
  --color-bg: rgba(197, 197, 197, 0.3);
}

.btn--category:active {
  --color-bg: rgba(169, 169, 169, 0.3);
}

.btn--buy {
  --color-box-shadow: var(--color-basic-green-extra-dark);

  border-radius: 2px;
  box-shadow: inset 0 -3px 0 var(--color-box-shadow);
  color: var(--color-text-secondary);
  background-color: var(--color-basic-green);
}

.btn--buy:hover {
  background-color: var(--color-success);
}

.btn--buy:active {
  background-color: var(--color-basic-green-darker);
}

.btn--bookmarks {
  border: 2px solid var(--color-basic-green);
  border-radius: 2px;
  color: var(--color-text-dark);
  background-color: transparent;
}

.btn--bookmarks:hover {
  border-color: var(--color-basic-blue-darker);
}

.btn--bookmarks:active {
  opacity: 0.5;
}

.btn-tabs {
  font-size: 21px;
  line-height: 30px;
  text-transform: none;
  color: var(--color-text-secondary);
  background-color: var(--color-basic-blue-darker);
}

.btn-tabs--current {
  color: var(--color-text-dark);
  background-color: var(--color-white);
}

.btn-tabs:hover {
  color: var(--color-text-secondary);
  background-color: var(--color-basic-blue-dark);
}

.btn--resume {
  background-color: var(--color-white);
}

.btn--filters {
  border: 1px solid var(--color-border-gray-darker);
  font-family: var(--font-secondary);
  background-color: var(--color-white);
}

.btn--pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 38px;
  height: 38px;
  font: inherit;
  font-size: 13px;
  border: 1px solid var(--color-border-gray-darker);
  border-radius: 2px;
  color: var(--color-text-primary);
  background-color: var(--color-white);
}

.btn--pagination-next {
  padding: 0 28px;
}

.btn--pagination:hover {
  border-color: var(--color-basic-gray);
}

.btn--pagination:active {
  border-color: var(--color-basic-red);
}

.btn--pagination-current,
.btn--pagination-current:hover {
  border-color: var(--color-basic-red);
  color: var(--color-text-secondary);
  background-color: var(--color-basic-red);
}

/* main-header styles */

.main-header {
  padding-bottom: 60px;
  background-color: var(--color-basic-lightgray);
}

.main-header__top {
  color: var(--color-text-secondary);
  background-color: var(--color-basic-blue-dark);
  height: 42px;
}

.main-header__top .container {
  display: grid;
  grid-template-columns: 220px min-content 1fr;
}

.main-header__search-form {
  grid-column: 2 / 3;
  margin-left: 17px;
  width: 271px;
}

.search-form__input {
  border: none;
  background-color: transparent;
}

.search-form__input::placeholder {
  color: var(--color-text-secondary);
}

.search-form__input:focus {
  background-color: var(--color-white);
}

.user-nav {
  justify-self: end;
  grid-column: 3 / -1;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Временно */
.user-nav__item {
  display: inline-block;
}

.user-nav__link {
  color: inherit;
}

.user-nav__link--has-items {
  background-color: var(--color-basic-red);
}

.user-nav__link:active {
  color: var(--color-half-opacity);
  background-color: var(--color-dark);
}

.user-nav__link--order {
  background-color: var(--color-basic-green);
}

.user-nav__link--order:hover {
  background-color: var(--color-success);
}

.user-nav__link--order:active {
  background-color: var(--color-basic-green);
}

.main-header__middle {
  display: grid;
  column-gap: 20px;
  align-content: start;
  grid-template-columns: repeat(3, 1fr);
  padding: 42px 0 44px 30px;
}

.main-header__lead {
  grid-column: 1 / 2;
  max-width: 197px;
  font-size: 16px;
  line-height: 23px;
  color: var(--color-text-accent);
}

.main-header__contacts {
  grid-column: 2 / 3;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header__phone {
  display: block;
  border: 3px solid var(--color-white);
  max-width: 270px;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  color: var(--color-text-accent);
}

.main-header__address {
  margin-left: 10px;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-text-dark);
}

.login {
  justify-self: end;
  grid-column: 3 / -1;
  font-size: 21px;
  line-height: 1;
  color: var(--color-text-primary);
}

.login__link {
  color: inherit;
  background-color: var(--color-white);
}

.login__link:hover {
  color: var(--color-text-accent);
}

.login__link:active {
  color: var(--color-basic-gray);
}

.profile__name {
  font-size: 21px;
  line-height: 1;
  color: inherit;
}

.profile__name:active {
  color: var(--color-basic-gray);
}

.profile__nav {
  display: flex;
  justify-content: center;
  margin: 0;
  list-style: none;
  padding: 0;
}

.profile__link {
  font-size: 16px;
  line-height: 18px;
  color: var(--color-text-dark);
}

.profile__link:hover {
  color: var(--color-text-accent);
}

.profile__link:active {
  color: var(--color-basic-gray);
}

.main-nav {
  --color-box-shadow: var(--color-basic-blue-dark);

  padding: 0 26px;
  color: var(--color-text-secondary);
  background-color: var(--color-basic-blue);
  box-shadow: inset 0 -5px 0 var(--color-box-shadow);
}

.main-nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  flex-grow: 1;
  text-align: center;
}

.main-nav__link {
  display: block;
  padding: 16px 0 20px;
  height: 100%;
  color: inherit;
}

.main-nav__link:hover {
  background-color: var(--color-basic-blue-dark);
}

.main-nav__link:active {
  --color-box-shadow: var(--color-basic-blue-dark);

  color: var(--color-half-opacity);
  background-color: var(--color-basic-blue-extra-dark);
  box-shadow: inset 0 -5px 0 var(--color-box-shadow);
}

/* breadcrumbs styles */

.breadcrumbs {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 20px 0;
  font-family: var(--font-secondary);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--color-text-primary);
}

.breadcrumbs__item:not(:last-child) {
  padding-right: 40px;
}

.breadcrumbs__link {
  color: inherit;
}

/* categories styles */

.categories {
  padding: 59px 0;
  color: var(--color-text-secondary);
}

.categories__list {
  display: grid;
  align-content: start;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.categories__item {
  align-self: start;
  padding: 20px 0 21px 22px;
  width: 300px;
  height: 123px;
}

.categories__item--materials {
  background-color: var(--color-special-yellow);
}

.categories__item--tools {
  background-color: var(--color-special-blue);
}

.categories__item--technics {
  background-color: var(--color-special-lilac);
}

.categories__item--sales {
  background-color: var(--color-special-lightgreen);
}

.categories__item--shipping {
  background-color: var(--color-special-bright-yellow);
}

.category__title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 30px;
}

.categories__slider {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}

/* slider styles */

.slider {
  overflow: hidden;
  height: 266px;
  max-width: 620px;
  color: var(--color-text-secondary);
}

.slider__slides {
  list-style: none;
  padding: 0;
}

.slider__slide {
  background-color: var(--color-basic-blue);
}

.slide__title {
  margin: 0;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
}

.slide__slogan {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
}

/* popular-products styles */

.popular-products__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  margin: 0;
  padding: 10px 0 70px;
  gap: 20px;
}

/* product styles */

.product {
  border: 1px solid var(--color-border-gray);
  min-height: 318px;
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: var(--color-white);
}

.product:hover {
  --color-box-shadow: var(--color-shadow-primary);

  box-shadow: 0 4px 20px var(--color-box-shadow);
}

.product__title {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
}

.product__price {
  color: var(--color-text-secondary);
  background-color: var(--color-basic-red);
}

.product__price-prev {
  color: var(--color-basic-gray-darker);
}

/* popular-brands styles */

.popular-brands__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  margin: 0;
  padding: 10px 0 70px;
  gap: 20px;
}

.popular-brands__item {
  border: 1px solid var(--color-basic-lightgray-lighter);
  width: 220px;
  height: 145px;
}

.popular-brand__link{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-brands__item:hover {
  --color-box-shadow: var(--color-shadow-primary);

  box-shadow: 0 4px 20px var(--color-box-shadow);
}

.popular-brand__link:active {
  opacity: 0.5;
}

/* services styles */

.services {
  padding-top: 64px;
  font-family: var(--font-secondary);
  font-size: 13px;
  line-height: 24px;
  background-color: var(--color-basic-lightgray-lighter);
}

.services__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.services__info {
  grid-column: 1 / -1;
}

.services__title {
  margin-bottom: 25px;
}

.services__switches {
  list-style: none;
  margin: 0;
  padding: 0;
}

.services__tab {
  grid-column: 2 / -1;
  min-height: 283px;
}

.service__title {
  margin: 0;
  margin-bottom: 30px;
}

.service__desc {
  max-width: 330px;
}

/* company styles */

.index-about {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 300px;
  padding: 70px 0;
}

.company {
  max-width: 460px;
}

.company__desc:not(:last-of-type) {
  margin-bottom: 30px;
}

.company__title,
.contacts__title {
  margin-bottom: 24px;
}

.company__list {
  list-style: none;
  padding: 0;
}

.company__link {
  color: inherit;
}

.contacts__desc {
  margin-bottom: 32px;
}

.map-preview {
  margin-bottom: 25px;
  cursor: pointer;
}

.map-preview__image {
  display: block;
}

/* main-footer styles */

.main-footer {
  color: var(--color-text-light);
  background-color: var(--color-basic-blue-darker);
}

.main-footer__top {
  display: grid;
  grid-template-columns: auto 1fr;
  padding-bottom: 54px;
  row-gap: 22px;
}

.main-footer__logo {
  height: 68px;
}

.footer-nav,
.footer-categories {
  justify-self: end;
  grid-column: 2 / -1;
  list-style: none;
  padding: 0;
}

/* Временно, для красоты */
.footer-nav__item,
.footer-categories__item {
  display: inline-block;
}

.footer-nav__link {
  color: inherit;
}

.footer-contacts__phone {
  color: inherit;
}

.footer-contacts__address {
  font-style: normal;
}

.footer-categories__link {
  color: var(--color-text-accent-secondary);
}

.footer-nav__link:hover,
.footer-categories__link:hover {
  text-decoration: underline;
}

.footer-nav__link:active,
.footer-categories__link:active {
  opacity: 0.5;
}

.main-footer__bottom {
  padding: 34px 0 29px;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-text-secondary);
  background-color: var(--color-basic-blue-dark);
}

.main-footer__bottom .container {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(2, 1fr) 140px 140px;
}

.footer-socials {
  justify-self: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-socials__link {
  background-color: var(--color-social-bg);
}

.footer-socials__link:hover,
.footer-socials__link:active {
  background-color: var(--color-basic-red);
}

.footer-mail,
.footer-credits {
  margin: 0;
}

.footer-credits {
  justify-self: end;
  padding-right: 12px;
}

.footer-link {
  color: var(--color-text-accent-secondary);
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link:active {
  color: var(--color-text-accent);
}

.footer-copy {
  margin: 0;
}

/* modals styles */

.modal-contact {
  --color-box-shadow: var(--color-shadow-primary);

  border-top: 7px solid var(--color-basic-red);
  box-shadow: 0 4px 20px var(--color-box-shadow);
  background-color: var(--color-white);
}

.modal-contact__button {
  background-color: var(--color-modal-button-bg);
}

.contact-form__fields {
  list-style: none;
  padding: 0;
}

.contact-form__input,
.contact-form__textarea {
  border: 2px solid var(--color-basic-gray);
  border-radius: 2px;
  font-family: var(--font-secondary);
}

.contact-form__textarea {
  resize: none;
}

/* modal-cart */

.modal-cart {
  --color-box-shadow: rgba(41, 52, 73, 0.75);

  border-top: 7px solid var(--color-basic-red);
  box-shadow: 0 20px 40px var(--color-box-shadow);
  background-color: var(--color-white);
}

.modal-cart__lead {
  margin: 0;
}

.modal-cart__actions {
  list-style: none;
  padding: 0;
  background-color: var(--color-modal-button-bg);
}

/* catalog styles */

.catalog {
  display: grid;
  grid-template: min-content 1fr / 220px 1fr;
  grid-template-areas:
  "header header"
  "filter goods";
  gap: 20px;
  padding-bottom: 59px;
}

.catalog__header {
  grid-area: header;
  background-color: var(--color-catalog-header-bg);
  padding: 30px;
}

.goods {
  grid-area: goods;
}

/* filters styles */

.filter {
  grid-area: filter;
  font-family: var(--font-secondary);
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter__topline {
  margin-bottom: 14px;
}

.filter__title {
  margin: 0;
  font: inherit;
}

.filters-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filters-form__fieldset:not(:last-of-type) {
  border-bottom: 1px solid var(--color-border-gray-darker);
}

.filters-form__fields {
  margin: 0;
  list-style: none;
  padding: 0;
}

.filters-form__legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.filters-form__text-input {
  border: none;
  border-radius: 2px;
  font: inherit;
  font-size: 17px;
  line-height: 18px;
  background-color: var(--color-section-topline-bg);
}

.filters-form__label:active {
  opacity: 0.4;
}

/* sort styles */

.sort {
  display: flex;
}

.sort__lead {
  margin: 0;
}

.sort__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort__category {
  --color-text: rgba(0, 0, 0, 0.3);

  border: none;
  padding: 0;
  border-bottom: 1px dotted var(--color-basic-red);
  font: inherit;
  text-transform: uppercase;
  color: var(--color-text);
  background-color: transparent;
  cursor: pointer;
}

.sort__category:hover {
  --color-text: var(--color-text-primary);

  border-bottom: 1px solid var(--color-basic-red);
}

.sort__category--current,
.sort__category--current:hover {
  --color-text: var(--color-text-accent);

  border-bottom: none;
}

.sort__control {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* products styles */

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px 20px;
  list-style: none;
  padding: 28px 0 48px;
  margin: 0;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: var(--font-secondary);
  display: flex;
}

.pagination__item:not(:last-child) {
  margin-right: 10px;
}

/* about styles */

.about {
  padding: 64px 0 68px;
  background-color: var(--color-basic-lightgray-lighter);
}

.about__desc {
  max-width: 907px;
}

.about__title {
  margin-bottom: 25px;
}
