/* stylesheet navigation:
-- You may use the following shortcuts
-- to quickly navigate through this stylesheet.
-- Click ctrl/cmd + F and copy-paste needed shortcut
-- or just select it and run the command
*/

/* shortcuts: */

/* fonts */
/* variables */
/* global styles */
/* buttons */
/* main-header styles */
/* breadcrumbs styles */
/* categories styles */
/* slider styles */
/* popular-products styles */
/* product styles */
/* services styles */
/* company styles */
/* contacts styles */
/* main-footer styles */
/* modals styles */
/* catalog styles */
/* filters styles */
/* sort styles */
/* products styles */
/* about styles */

/* fonts */

@font-face {
  src:
    url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
  font-family: "Cuprum";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* variables */

:root {
  /* colors */
  --color-white: #fff;
  --color-black: #000;
  --color-basic-green: #63a63e;
  --color-basic-green-light: #00ca74;
  --color-basic-green-darker: #518534;
  --color-basic-green-extra-dark: #367315;
  --color-basic-red: #ee3643;
  --color-basic-red-darker: #ca2c37;
  --color-basic-red-extra-dark: #ba2732;

  --color-basic-blue: #3d546f;
  --color-basic-blue-darker: #32425c;
  --color-basic-blue-dark: #293449;
  --color-basic-blue-extra-dark: #1d2739;

  --color-basic-gray: #c5c5c5;
  --color-basic-gray-darker: #a9a9a9;
  --color-basic-lightgray: #f3f7f8;
  --color-basic-lightgray-lighter: #f1f5f7;

  --color-special-yellow: #ffbf47;
  --color-special-lightyellow: #ffd180;

  --color-special-blue: #3bbce3;
  --color-special-lilac: #dc91d8;
  --color-special-lightgreen: #8ed78f;

  --color-success: #5fbb2d;
  --color-warning: #ffbf47;
  --color-error: #ba2732;

  --color-border-gray: #eaeaea;
  --color-border-gray-darker: #e5e5e5;
  --color-social-bg: #212a3a;
  --color-gray-dark: #444;
  --color-dark: #161d29;

  --color-section-header-bg: #f9f5f0;
  --color-section-topline-bg: #f7f3ec;
  --color-catalog-header-bg: #f2f6f8;
  --color-modal-button-bg: #f4f4f4;
  --color-range-scale-bg: #d7dcde;
  --color-range-control-bg: #ababab;

  --color-text-primary: var(--color-black);
  --color-text-secondary: var(--color-white);
  --color-text-dark: var(--color-basic-blue-darker);
  --color-text-light: var(--color-basic-lightgray-lighter);
  --color-text-accent: var(--color-basic-red);
  --color-text-accent-secondary: var(--color-special-lightyellow);

  /* rgba colors */
  --color-shadow-primary: rgba(0, 0, 0, 0.15);
  --color-half-opacity: rgba(255, 255, 255, 0.5);

  /* fonts */

  --font-primary: "Cuprum", "Arial", sans-serif;
  --font-secondary: "PT Sans", "Trebuchet MS", sans-serif;
}

/* global styles */

.page,
.page-body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: 960px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-text-primary);
  background-color: var(--color-white);
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

input {
  font: inherit;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.container {
  margin: 0 auto;
  max-width: 940px;
}

.logo {
  --color-box-shadow: rgba(0, 0, 0, 0.24);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 47px;
  min-width: 220px;
  box-shadow: inset 0 -5px 0 var(--color-box-shadow);
  background-color: var(--color-basic-red);
}

.logo__image {
  margin-top: -5px;
}

.logo:active {
  background-color: var(--color-basic-red-extra-dark);
}

.marker-new {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  display: inline-block;
  padding: 7px 0 4px;
  width: 100px;
  height: 30px;
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-text-secondary);
  background-color: var(--color-basic-red);
  transform: rotate(45deg) translate(25px, -14px);
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 14px 26px 28px;
  background-color: var(--color-section-header-bg);
}

.section-title {
  margin: 0;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--color-text-primary);
}

.section-title--blue {
  color: var(--color-text-dark);
}

.section-desc {
  margin: 0;
  font-family: var(--font-secondary);
  font-size: 13px;
  line-height: 24px;
}

.section-topline {
  border-radius: 2px;
  padding: 10px 14px 10px 18px;
  height: 38px;
  font-family: var(--font-secondary);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--color-section-topline-bg);
}

/* buttons */

.btn {
  vertical-align: middle;
  border: none;
  padding: 10px;
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.btn--primary {
  color: var(--color-text-secondary);
  background-color: var(--color-basic-red);
}

.btn--primary:hover {
  background-color: var(--color-basic-red-darker);
}

.btn--primary:active {
  background-color: var(--color-basic-red-extra-dark);
}

.btn--popular {
  min-width: 192px;
}

.btn--category {
  --color-bg: rgba(255, 255, 255, 0.3);

  display: inline-block;
  min-width: 135px;
  color: var(--color-text-secondary);
  background-color: var(--color-bg);
}

.btn--category:hover {
  --color-bg: rgba(197, 197, 197, 0.3);
}

.btn--category:active {
  --color-bg: rgba(169, 169, 169, 0.3);
}

.btn--buy {
  --color-box-shadow: var(--color-basic-green-extra-dark);

  position: relative;
  margin-bottom: 10px;
  border-radius: 2px;
  padding-left: 25px;
  min-width: 135px;
  box-shadow: inset 0 -3px 0 var(--color-box-shadow);
  color: var(--color-text-secondary);
  background-color: var(--color-basic-green);
}

.btn--buy::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 10px;
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/icon-cart.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.btn--buy:hover {
  background-color: var(--color-success);
}

.btn--buy:active {
  background-color: var(--color-basic-green-darker);
}

.btn--bookmarks {
  border: 2px solid var(--color-basic-green);
  border-radius: 2px;
  padding-bottom: 8px;
  min-width: 135px;
  color: var(--color-text-dark);
  background-color: transparent;
}

.btn--bookmarks:hover {
  border-color: var(--color-basic-blue-darker);
}

.btn--bookmarks:active {
  opacity: 0.5;
}

.btn--slider {
  position: absolute;
  left: 24px;
  bottom: 27px;
  min-width: 192px;
}

.btn-tabs {
  display: block;
  padding: 14px 22px 17px;
  width: 100%;
  box-shadow: 0 1px 0 var(--color-basic-blue-dark), inset 0 1px 0 #405069;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  text-transform: none;
  color: var(--color-text-secondary);
  background-color: var(--color-basic-blue-darker);
}

.btn-tabs:hover {
  color: var(--color-text-secondary);
  background-color: var(--color-basic-blue-dark);
}

.btn-tabs--current,
.btn-tabs--current:hover {
  box-shadow: 0 1px 0 var(--color-white);
  color: var(--color-text-dark);
  background-color: var(--color-white);
}

.btn--company {
  display: inline-block;
  margin-top: auto;
  min-width: 220px;
}

.btn--contacts {
  width: 100%;
}

.btn--service {
  display: inline-block;
  margin-top: 26px;
  border-radius: 2px;
  min-width: 195px;
  text-align: center;
}

.btn--submit {
  min-width: 460px;
}

.btn--resume {
  min-width: 192px;
  background-color: var(--color-white);
}

.btn--filters {
  border: 1px solid var(--color-border-gray-darker);
  width: 100%;
  font-family: var(--font-secondary);
  background-color: var(--color-white);
}

.btn--pagination {
  display: block;
  border: 1px solid var(--color-border-gray-darker);
  border-radius: 2px;
  padding: 10px 15px;
  min-width: 38px;
  font: inherit;
  font-size: 13px;
  line-height: 16px;
  color: var(--color-text-primary);
  background-color: var(--color-white);
}

.btn--pagination-next {
  padding: 10px 31px;
}

.btn--pagination:hover {
  border-color: var(--color-basic-gray);
}

.btn--pagination:active {
  border-color: var(--color-basic-red);
}

.btn--pagination-current,
.btn--pagination-current:hover {
  border-color: var(--color-basic-red);
  color: var(--color-text-secondary);
  background-color: var(--color-basic-red);
}

.btn--order {
  min-width: 192px;
}

/* main-header styles */

.main-header {
  padding-bottom: 60px;
  background-color: var(--color-basic-lightgray-lighter);
}

.main-header__top {
  height: 42px;
  color: var(--color-text-secondary);
  background-color: var(--color-basic-blue-dark);
}

.main-header__top .container {
  display: flex;
  flex-wrap: wrap;
}

.search-form {
  position: relative;
}

.main-header__search-form {
  width: 270px;
  height: 42px;
}

.search-form__input {
  display: block;
  border: none;
  padding: 0 17px 0 42px;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.search-form__icon {
  position: absolute;
  left: 17px;
  top: 50%;
  width: 17px;
  height: 17px;
  fill: var(--color-white);
  opacity: 0.3;
  transform: translateY(-50%);
}

.search-form:hover .search-form__icon {
  opacity: 1;
}

.search-form__input::placeholder {
  color: var(--color-text-secondary);
}

.search-form__input:focus {
  background-color: var(--color-white);
}

.search-form__input:focus + .search-form__icon {
  fill: var(--color-basic-red);
  opacity: 1;
}

.user-nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.user-nav__item {
  height: 42px;
}

.user-nav__link {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 100%;
  min-width: 150px;
  line-height: 42px;
  color: inherit;
}

.user-nav__link--has-items {
  background-color: var(--color-basic-red);
}

.user-nav__link--bookmarks {
  padding-left: 43px;
}

.user-nav__link--cart {
  padding-left: 49px;
}

.user-nav__link--order {
  text-align: center;
  background-color: var(--color-basic-green);
}

.user-nav__link--order:active {
  background-color: var(--color-basic-green);
}

.user-nav__link::before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.3;
  transform: translateY(-50%);
}

.user-nav__link--bookmarks::before {
  left: 19px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icons/icon-bookmark.svg");
}

.user-nav__link--cart::before {
  left: 26px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/icon-cart.svg");
}

.user-nav__link:hover::before {
  opacity: 1;
}

.user-nav__link:active {
  color: var(--color-half-opacity);
  background-color: var(--color-dark);
}

.user-nav__link:active::before {
  opacity: 0.3;
}

.user-nav__link--order:hover {
  background-color: var(--color-success);
}

.main-header__middle {
  display: flex;
  flex-wrap: wrap;
  padding: 42px 0 40px 30px;
}

.main-header__lead {
  margin-right: 93px;
  max-width: 197px;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-accent);
}

.main-header__contacts {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 4px;
}

.main-header__phone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
  border: 3px solid var(--color-white);
  padding-left: 29px;
  width: 270px;
  min-height: 45px;
  max-width: 270px;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--color-text-accent);
  background-image: url("../img/icons/icon-phone.svg");
  background-position: 39px 50%;
  background-size: 19px 19px;
  background-repeat: no-repeat;
}

.main-header__address {
  padding-left: 10px;
  max-width: 270px;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-text-dark);
}

.login {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: auto;
  padding-top: 4px;
  max-width: 280px;
  font-size: 21px;
  line-height: 1;
  color: var(--color-text-primary);
}

.login__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0 10px;
  min-width: 120px;
  min-height: 45px;
  color: inherit;
  background-color: var(--color-white);
}

.login-icon {
  position: absolute;
  top: 12px;
}

.login-icon--login {
  left: 19px;
}

.login__link:not(:nth-child(2n)) {
  margin-right: 10px;
}

.login__link--login {
  padding-left: 44px;
}

.login__link--sign {
  justify-content: center;
  min-width: 150px;
}

.login__link:hover {
  color: var(--color-text-accent);
}

.login__link:hover .login-icon__path {
  fill: var(--color-basic-blue);
}

.login__link:active {
  color: var(--color-basic-gray);
}

.login__link:active .login-icon__path {
  fill: var(--color-basic-gray);
}

.profile {
  margin-left: auto;
}

.profile__top {
  position: relative;
  padding: 14px;
  min-width: 300px;
  min-height: 45px;
  text-align: center;
  background-color: var(--color-white);
}

.profile__name {
  position: relative;
  margin-right: 16px;
  margin-left: auto;
  padding-left: 41px;
  font-size: 21px;
  line-height: 1;
  color: inherit;
}

.profile__name .profile-icon {
  position: absolute;
  left: 0;
  top: 4px;
  width: 20px;
  height: 18px;
}

.profile__name:hover .profile-icon__path,
.profile__logout:hover .logout-icon__path {
  fill: var(--color-basic-blue);
}

.profile__logout {
  display: inline-block;
  width: 20px;
  height: 17px;
  transform: translateY(3px);
}

.profile__name:active {
  color: var(--color-basic-gray);
}

.profile__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 280px;
}

.profile__item:not(:last-child) {
  position: relative;
  margin-right: 28px;
}

.profile__item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -16px;
  top: 50%;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: var(--color-basic-blue-darker);
}

.profile__link {
  font-size: 16px;
  line-height: 18px;
  color: var(--color-text-dark);
}

.profile__link:hover {
  color: var(--color-text-accent);
}

.profile__link:active {
  color: var(--color-basic-gray);
}

.main-nav {
  --color-box-shadow: var(--color-basic-blue-dark);

  padding: 0 26px;
  box-shadow: inset 0 -5px 0 var(--color-box-shadow);
  color: var(--color-text-secondary);
  background-color: var(--color-basic-blue);
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  flex-grow: 1;
  text-align: center;
}

.main-nav__link {
  display: block;
  padding: 16px 28px 20px;
  height: 100%;
  color: inherit;
}

.main-nav__link:hover {
  background-color: var(--color-basic-blue-dark);
}

.main-nav__link:active {
  --color-box-shadow: var(--color-basic-blue-dark);

  box-shadow: inset 0 -5px 0 var(--color-box-shadow);
  color: var(--color-half-opacity);
  background-color: var(--color-basic-blue-extra-dark);
}

/* breadcrumbs styles */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 20px 0;
  font-family: var(--font-secondary);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--color-text-primary);
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item:not(:last-child) {
  padding-right: 42px;
}

.breadcrumbs__link {
  color: inherit;
}

.breadcrumbs__link--home {
  display: block;
  height: 100%;
  min-width: 12px;
  background-image: url("../img/icons/icon-home.svg");
  background-position: 0 2px;
  background-size: 14px 12px;
  background-repeat: no-repeat;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 16px;
  top: 4px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icons/arrow-small.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* categories styles */

.categories {
  padding: 59px 0;
  color: var(--color-text-secondary);
}

.categories__list {
  display: grid;
  align-content: start;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.categories__item {
  position: relative;
  align-self: start;
  overflow: hidden;
  padding: 20px 22px 21px;
  width: 300px;
  height: 100%;
  min-height: 123px;
  background-position: 191px 50%;
  background-repeat: no-repeat;
}

.categories__item--materials {
  background-image: url("../img/categories/icon-paint.svg");
  background-position: 213px 31px;
  background-color: var(--color-special-yellow);
}

.categories__item--tools {
  background-image: url("../img/categories/icon-drill.svg");
  background-position: 194px 34px;
  background-color: var(--color-special-blue);
}

.categories__item--technics {
  background-image: url("../img/categories/icon-tractor.svg");
  background-position-y: 31px;
  background-color: var(--color-special-lilac);
}

.categories__item--sales {
  background-image: url("../img/categories/icon-sales.svg");
  background-position: 196px 26px;
  background-color: var(--color-special-lightgreen);
}

.categories__item--shipping {
  background-image: url("../img/categories/icon-truck.svg");
  background-position-y: 32px;
  background-color: var(--color-special-yellow);
}

.category__title {
  margin: 0;
  margin-bottom: 14px;
  max-width: 150px;
  font-size: 24px;
  line-height: 30px;
}

.categories__slider {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}

/* slider styles */

.slider {
  position: relative;
  height: 266px;
  max-width: 620px;
  color: var(--color-text-secondary);
}

.slider__slides {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__slide {
  position: relative;
  display: none;
  background-color: var(--color-basic-blue);
}

.slider__slide--current {
  display: block;
}

.slide__header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 23px 24px 16px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.slide__title {
  margin: 0 0 5px;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
}

.slide__slogan {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
}

.slide__image {
  display: block;
  object-fit: contain;
}

.slider__control {
  position: absolute;
  bottom: 104px;
  border: none;
  width: 22px;
  height: 40px;
  background-image: url("../img/icons/arrow-normal.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.slider__control--prev {
  left: 24px;
}

.slider__control--next {
  right: 20px;
  transform: rotateY(180deg);
}

.slider__pagination {
  position: absolute;
  left: 50%;
  bottom: 36px;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  transform: translateX(-50%);
}

.slider__pagination-item:not(:last-child) {
  margin-right: 10px;
}

.slider__pagination-btn {
  position: relative;
  display: block;
  border: none;
  border-radius: 50%;
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--color-white);
  cursor: pointer;
}

.slider__pagination-btn--current::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: var(--color-basic-red);
}

/* popular-products styles */

.popular-products__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  margin: 0;
  padding: 20px 0 70px;
  gap: 20px;
}

/* product styles */

.product {
  --preview-height: 164px;

  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid var(--color-border-gray);
  padding: 0 17px 20px;
  width: 220px;
  height: 100%;
  min-height: 318px;
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: var(--color-white);
}

.product:hover .product__actions,
.product:focus-within .product__actions{
  display: block;
}

.product__preview {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;
  padding-top: 5px;
  padding-right: 12px;
  height: var(--preview-height);
}

.product__image {
  object-fit: contain;
}

.product__actions {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  padding-top: 38px;
  width: 100%;
  height: var(--preview-height);
  background-color: var(--color-white);
}

.product__title {
  margin: 0;
  margin-bottom: 9px;
  font-size: 18px;
  line-height: 20px;
}

.product__price-prev {
  margin-bottom: 13px;
  color: var(--color-basic-gray-darker);
}

.product__price {
  margin: auto auto 0 27px;
  border-radius: 2px;
  padding: 10px 33px;
  min-width: 141px;
  min-height: 38px;
  max-width: 100%;
  text-align: left;
  color: var(--color-text-secondary);
  background:
    linear-gradient(-45deg, var(--color-white) 14px, transparent 14px),
    linear-gradient(-135deg, var(--color-white) 14px, transparent 14px),
    var(--color-basic-red);
}

.product:hover {
  --color-box-shadow: var(--color-shadow-primary);

  box-shadow: 0 4px 20px var(--color-box-shadow);
}

/* popular-brands styles */

.popular-brands__header {
  padding-right: 19px;
}

.popular-brands__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  margin: 0;
  padding: 20px 0 70px;
  gap: 20px;
}

.popular-brands__item {
  border: 1px solid var(--color-basic-lightgray-lighter);
  width: 220px;
  height: 145px;
}

.popular-brand__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.popular-brand__image {
  object-fit: contain;
}

.popular-brands__item:hover {
  --color-box-shadow: var(--color-shadow-primary);

  box-shadow: 0 4px 20px var(--color-box-shadow);
}

.popular-brand__link:active {
  opacity: 0.5;
}

/* services styles */

.services {
  padding-top: 66px;
  font-family: var(--font-secondary);
  font-size: 13px;
  line-height: 24px;
  background-color: var(--color-basic-lightgray-lighter);
}

.services__container {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
}

.services__tab {
  display: none;
  grid-column: 2 / -1;
  padding-bottom: 50px;
  min-height: 283px;
  background-position: 100% 20px;
  background-repeat: no-repeat;
}

.services__tab--shipping {
  background-image: url("../img/services/shipping.png");
}

.services__tab--guarantee {
  background-image: url("../img/services/guarantee.png");
}

.services__tab--credit {
  background-image: url("../img/services/credit.png");
}

.services__tab--current {
  display: block;
}

.services__info {
  grid-column: 1 / -1;
  margin-bottom: 51px;
}

.services__title {
  margin-bottom: 23px;
}

.services__switches {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 3px;
  padding-bottom: 50px;
  width: 240px;
}

.services__switches::after {
  content: "";
  position: absolute;
  right: 0;
  top: -49px;
  width: 10px;
  height: 280px;
  background-image: url("../img/services/switches-shadow.png");
  background-repeat: no-repeat;
  opacity: 0.25;
}

.services__switch:not(:last-child) {
  margin-bottom: 1px;
}

.service__title {
  margin: 0;
  margin-bottom: 30px;
}

.service__title,
.service__desc {
  max-width: 330px;
}

/* company styles */

.index-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 70px 0;
}

.company {
  max-width: 460px;
}

.company__desc:not(:last-of-type) {
  margin-bottom: 30px;
}

.company__title,
.contacts__title {
  margin-bottom: 24px;
}

.company__list {
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 1px;
}

.company__item {
  position: relative;
  padding-left: 37px;
}

.company__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  width: 25px;
  height: 2px;
  background-color: var(--color-basic-red);
}

.company__item:not(:last-child) {
  margin-bottom: 12px;
}

.company__link {
  color: inherit;
}

.contacts {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.contacts__desc {
  margin-bottom: 35px;
  max-width: 180px;
}

.map-preview {
  margin-bottom: 25px;
  cursor: pointer;
}

.map-preview__image {
  display: block;
}

/* main-footer styles */

.main-footer {
  color: var(--color-text-light);
  background-color: var(--color-basic-blue-darker);
}

.main-footer__top {
  display: grid;
  grid-template-columns: auto 1fr;
  padding-bottom: 54px;
  gap: 22px;
}

.main-footer__logo {
  height: 68px;
}

.footer-nav,
.footer-categories {
  display: flex;
  flex-wrap: wrap;
  justify-self: end;
  grid-column: 2 / -1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav {
  padding-top: 37px;
}

.footer-nav__item:not(:last-child),
.footer-categories__item:not(:last-child) {
  margin-right: 59px;
}

.footer-nav__link {
  color: inherit;
}

.footer-categories {
  padding-top: 5px;
}

.footer-contacts {
  padding-left: 3px;
}

.footer-contacts__phone {
  color: inherit;
}

.footer-contacts__address {
  font-style: normal;
}

.footer-categories__link {
  color: var(--color-text-accent-secondary);
}

.footer-nav__link:hover,
.footer-categories__link:hover {
  text-decoration: underline;
}

.footer-nav__link:active,
.footer-categories__link:active {
  opacity: 0.5;
}

.main-footer__bottom {
  padding: 34px 0 29px;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-text-secondary);
  background-color: var(--color-basic-blue-dark);
}

.main-footer__bottom .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-copy {
  margin: 0;
  margin-right: 159px;
  padding-top: 4px;
  padding-left: 1px;
}

.footer-socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 134px;
}

.footer-socials__item {
  padding: 1px;
  width: 44px;
  height: 44px;
}

.footer-socials__link {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: var(--color-social-bg);
}

.footer-socials__link--vk {
  background-image: url("../img/icons/icon-vk.svg");
}

.footer-socials__link--fb {
  background-image: url("../img/icons/icon-fb.svg");
}

.footer-socials__link--inst {
  background-image: url("../img/icons/icon-insta.svg");
}

.footer-socials__link:hover,
.footer-socials__link:active {
  background-color: var(--color-basic-red);
}

.footer-mail,
.footer-credits {
  margin: 0;
  padding-top: 2px;
}

.footer-mail {
  margin-right: 54px;
  margin-left: auto;
}

.footer-credits {
  justify-self: end;
  padding-right: 12px;
}

.footer-link {
  color: var(--color-text-accent-secondary);
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link:active {
  color: var(--color-text-accent);
}

/* modals styles */

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;
  display: none;
  border-top: 7px solid var(--color-basic-red);
  transform: translate(-50%, -50%);
}

.modal--active {
  display: block;
}

.modal__close {
  position: absolute;
  right: 11px;
  top: 10px;
  border: none;
  width: 21px;
  height: 21px;
  background-image: url("../img/icons/icon-close.svg");
  background-color: transparent;
}

.modal-contact .modal__close {
  top: 14px;
}

.modal-contact {
  --color-box-shadow: var(--color-shadow-primary);

  padding-top: 40px;
  width: 620px;
  min-height: 430px;
  box-shadow: 0 4px 20px var(--color-box-shadow);
  background-color: var(--color-white);
  animation: fadeIn 300ms forwards;
}

.contact-form__fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 30px;
  max-width: 460px;
}

.contact-form__field:last-child {
  width: 100%;
}

.contact-form__label {
  display: block;
  margin-bottom: 11px;
}

.contact-form__input,
.contact-form__textarea {
  border: 2px solid var(--color-basic-gray);
  border-radius: 2px;
  padding: 5px 10px;
  font-family: var(--font-secondary);
  font-size: 13px;
  line-height: 24px;
}

.contact-form__input {
  margin-bottom: 13px;
  width: 220px;
}

.contact-form__textarea {
  width: 100%;
  min-height: 114px;
  resize: none;
}

.modal-contact__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 37px 0;
  background-color: var(--color-modal-button-bg);
}

/* modal-cart */

.modal-cart {
  --color-box-shadow: rgba(41, 52, 73, 0.75);

  width: 620px;
  min-height: 282px;
  box-shadow: 0 20px 40px var(--color-box-shadow);
  text-align: center;
  background-color: var(--color-white);
  animation: fadeIn 300ms forwards;
}

.modal-cart__lead {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 48px 20px 49px 81px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.modal-cart__lead::before {
  content: "";
  display: block;
  margin-right: 30px;
  width: 66px;
  height: 66px;
  background-image: url("../img/icons/icon-mark.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.modal-cart__actions {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 37px 0;
  background-color: var(--color-modal-button-bg);
}

.modal-cart__action:not(:last-child) {
  margin-right: 10px;
}

.modal-map {
  width: 940px;
  height: 447px;
  box-shadow: 0 4px 20px var(--color-shadow-primary);
  background-color: var(--color-white);
  animation: fadeIn 300ms forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* catalog styles */

.catalog {
  display: grid;
  grid-template: min-content 1fr / 220px 1fr;
  grid-template-areas:
    "header header"
    "filter goods";
  padding-bottom: 59px;
  gap: 20px;
}

.catalog__header {
  grid-area: header;
  padding: 30px;
  background-color: var(--color-catalog-header-bg);
}

.goods {
  grid-area: goods;
}

/* filters styles */

.filter {
  grid-area: filter;
  font-family: var(--font-secondary);
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter__title {
  margin: 0;
  font: inherit;
}

.filters-form__fieldset {
  margin: 0;
  border: none;
  border-bottom: 1px solid var(--color-border-gray-darker);
  padding: 0;
  padding-bottom: 25px;
}

.filters-form__fieldset:last-of-type {
  border-bottom: none;
  padding-bottom: 34px;
}

.filters-form__fields {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filters-form__fields--radio .filters-form__field:not(:last-child) {
  margin-bottom: 20px;
}

.filters-form__field:not(:last-child) {
  margin-bottom: 17px;
}

.filters-form__legend {
  padding-top: 17px;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.filters-form__legend--price {
  margin-bottom: 12px;
  padding-top: 13px;
}

.filters-form__legend--brands {
  margin-bottom: 17px;
  padding-top: 16px;
}

.filters-form__legend--power {
  margin-bottom: 22px;
}

.range-input {
  display: block;
  border-radius: 3px;
  padding: 0 20px;
  width: 220px;
  min-height: 80px;
  background-color: var(--color-section-topline-bg);
}

.filters-form__range-input {
  margin-bottom: 9px;
}

.range-input__controls {
  position: relative;
  padding-top: 39px;
}

.range-input__scale {
  margin: 0 auto;
  height: 2px;
  background-color: var(--color-range-scale-bg);
}

.range-input__bar {
  width: 152px;
  height: 2px;
  background-color: var(--color-basic-green-light);
}

.range-input__toggle {
  --box-shadow-color: #e0ddd9;

  position: absolute;
  top: 30px;
  border: 8px solid #fff;
  border-radius: 50%;
  padding: 0;
  width: 4px;
  height: 4px;
  box-shadow: 0 2px 0 var(--box-shadow-color);
  box-sizing: initial;
  background-color: var(--color-range-control-bg);
  cursor: pointer;
}

.range-input__toggle--min {
  left: 0;
}

.range-input__toggle--max {
  left: 140px;
}

.filters-form__text-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters-form__text-inputs span {
  color: var(--color-gray-dark);
}

.filters-form__text-input {
  border: none;
  border-radius: 2px;
  padding: 10px;
  height: 38px;
  max-width: 95px;
  font: inherit;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: var(--color-section-topline-bg);
}

.filters-form__label {
  --border-color: var(--color-basic-gray);
  --border-color-hover: #b5b5b5;

  position: relative;
  display: block;
  padding: 2px 0 2px 35px;
  cursor: pointer;
}

.filters-form__label:active {
  opacity: 0.4;
}

.filters-form__checkbox + .filters-form__label::before,
.filters-form__checkbox + .filters-form__label::after,
.filters-form__radio + .filters-form__label::before,
.filters-form__radio + .filters-form__label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
}

.filters-form__checkbox:focus + .filters-form__label::before,
.filters-form__radio:focus + .filters-form__label::before {
  outline: 2px solid var(--color-basic-blue-dark);
}

.filters-form__checkbox:disabled + .filters-form__label,
.filters-form__radio:disabled + .filters-form__label {
  opacity: 0.3;
  cursor: initial;
}

.filters-form__checkbox + .filters-form__label::before {
  border: 2px solid var(--border-color);
  border-radius: 4px;
  width: 23px;
  height: 23px;
  background-color: transparent;
}

.filters-form__checkbox:hover + .filters-form__label::before {
  --border-color: var(--border-color-hover);
}

.filters-form__label .icon-checkbox-on {
  position: absolute;
  left: 1px;
  top: -2px;
  display: none;
  width: 27px;
  height: 23px;
}

.filters-form__label:hover .icon-checkbox-on__path {
  fill: var(--border-color-hover);
}

.filters-form__checkbox:checked + .filters-form__label .icon-checkbox-on {
  display: block;
}

.filters-form__radio + .filters-form__label::before {
  top: -2px;
  border: 4px solid var(--border-color);
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.filters-form__radio + .filters-form__label::after {
  left: 8px;
  top: 6px;
  display: none;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: var(--border-color);
}

.filters-form__radio:checked + .filters-form__label::after {
  display: block;
}

.filters-form__radio:hover + .filters-form__label::before,
.filters-form__radio:hover + .filters-form__label::after {
  --border-color: var(--border-color-hover);
}

/* sort styles */

.sort {
  display: flex;
  flex-wrap: wrap;
  padding-right: 4px;
  padding-left: 19px;
}

.sort__lead {
  margin: 0;
}

.sort__list {
  display: flex;
  list-style: none;
  margin: 0;
  margin-right: 37px;
  margin-left: auto;
}

.sort__item:not(:last-child) {
  margin-right: 66px;
}

.sort__category {
  --color-text: rgba(0, 0, 0, 0.3);

  border: none;
  border-bottom: 1px dotted var(--color-basic-red);
  padding: 0;
  font: inherit;
  text-transform: uppercase;
  color: var(--color-text);
  background-color: transparent;
  cursor: pointer;
}

.sort__category--current {
  --color-text: var(--color-text-accent);

  border-bottom: none;
}

.sort__category:not(.sort__category--current):hover {
  --color-text: var(--color-text-primary);

  border-bottom: 1px solid var(--color-basic-red);
}

.sort__controls {
  margin-top: -10px;
}

.sort__control {
  border: none;
  padding: 0 10px;
  height: 38px;
  background-color: transparent;
  cursor: pointer;
}

.sort__control--down {
  transform: rotate(180deg);
}

.sort__control:not(.sort__control--current):hover .sort__control-icon {
  fill: var(--color-black);
}

.sort__control-icon {
  fill: var(--color-basic-gray);
}

.sort__control--current .sort__control-icon {
  fill: var(--color-basic-red);
}

/* products styles */

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 0;
  padding: 28px 0 48px;
  gap: 18px 20px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: var(--font-secondary);
}

.pagination__item:not(:last-child) {
  margin-right: 9px;
}

/* about styles */

.about {
  padding: 65px 0 70px;
  background-color: var(--color-basic-lightgray-lighter);
}

.about__desc {
  max-width: 907px;
}

.about__title {
  margin-bottom: 25px;
}
